.counter {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-size: 11px;
    font-style: normal;
    background-color: #54C144;
    color: #fff;
    border-radius: 50%;
}

.counter[data-count="0"] {
    display: none;
}
