#catalog {
    display: none;
    position: fixed;
    width: 100%;
    font-size: 19px;
    color: #2E3038;
    background-color: #F1F3F5;
    z-index: 10;
}

#catalog .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1210px;
    height: 100%;
}

#catalog.opened {
    display: block;
}

.category-menu {
    height: 100%;
    width: 25%;
    overflow-y: auto;
    border-right: 1px solid #D0D6DE;
}

.category-menu .menu-list {
    padding: 10px 30px 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 5px;
}

.category-menu .menu-item {
    border-radius: 3px;
}

.category-menu .menu-item button {
    padding: 8px 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    min-height: 40px;
    width: 100%;
    color: inherit;
    text-align: left;
}

.category-menu .menu-item:hover {
    background-color: #fff;
}

.category-menu .menu-item.selected {
    color: #fff;
    background-color: #54C144;
}

.category-menu .menu-item.selected img {
    -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
}

.category-details {
    padding: 0 10px 0 48px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
    height: 100%;
    overflow-y: auto;
}

.category-item {
    display: none;
}

.category-item.opened {
    display: block;
}






.category-name {
    padding: 30px 0;
}

.category-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.subcategory-details {
    font-size: 19px;
    line-height: 120%;
}

.category-details .menu-list {
    padding: 10px 0;
}

.category-details .menu-item {
    color: #636E72;
}

.category-details .menu-item > a {
    padding: 8px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.category-details .menu-item > a:hover {
    text-decoration: underline;
}










.catalog-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    width: 170px;
    height: 50px;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #54C144;
    border-radius: 5px;
}

.catalog-btn > .icon-xmark,
.catalog.opened .catalog-btn > .icon-grid {
    display: none;
}

.catalog.opened .catalog-btn {
    background-color: #ECAC28;
}

.catalog.opened .catalog-btn .icon-xmark {
    display: inline;
}
