.icon {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.icon-phone {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/call-outline.svg");
}

.icon-phone--bold {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/call.svg");
}

.icon-velcom {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/A1.svg");
}

.icon-mts {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/mts.svg");
}

.icon-life {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/life.svg");
}

.icon-chevron {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/chevron-down.svg");
}

.icon-caret--bold {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/caret.svg");
}

.icon-clock {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/time.svg");
}

.icon-basket {
    width: 25px;
    height: 28px;
    background-image: url("../assets/icons/basket.svg");
}

.icon-scales {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/scales.svg");
}

.icon-sign-in {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/person-outline.svg");
}

.icon-sign-in--bold {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/person.svg");
}

.icon-sign-up {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/pencil.svg");
}

.icon-magnifier {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/magnifier.svg");
}

.icon-grid {
    width: 27px;
    height: 27px;
    background-image: url("../assets/icons/grid.svg");
}

.icon-xmark {
    width: 27px;
    height: 27px;
    background-image: url("../assets/icons/xmark.svg");
}

.icon-burger {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/menu.svg");
}
