* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2E3038;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 120%;
    /*remove*/
    /*height: 200vh;*/
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 5px 10px;
    border: none;
}

a,
input:not([disabled]),
button:not([disabled]) {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hidden {
    display: none;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 17px 33px -2px rgba(28, 39, 49, 0.05);
}

.inner {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
}

header .inner {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

ul > li {
    display: inline-flex;
}

ul > li > a {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 120%;
    color: #616960;
    transition: background-color 0.2s;
}

ul > li > a:hover {
    background-color: #F4F4F4;
    text-decoration: underline;
}

/* CONTACTS */
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 38%;
}

.contacts > .inner {
    position: relative;
    margin: 0;
}

button.tel {
    padding: 15px 0;
    display: inline-flex;
    justify-content: center;
    align-items: end;
    column-gap: 8px;
    font-weight: 700;
    background-color: transparent;
}

.contacts-dropdown {
    position: absolute;
    top: 85%;
    right: 15px;
    display: none;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 17px 40px -2px rgb(28 39 49 / 10%);
    border-radius: 5px;
    z-index: 1;
}

button.tel.opened .icon--chevron {
    transform: rotate(180deg);
}

button.tel.opened ~ .contacts-dropdown {
    display: flex;
}

.contacts-dropdown a {
    display: inline-flex;
    column-gap: 11px;
    padding: 10px;
}

.contacts-dropdown .tel:hover {
    background-color: #F4F4F4;
}

.tel + .tel > a {
    padding-top: 5px;
}

.schedule {
    display: inline-flex;
    align-items: center;
    column-gap: 11px;
    padding: 4px 12px;
    background-color: #F4F4F4;
    border-radius: 5px;
}

.h-mid {
    padding-bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

button.catalogy {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 170px;
    height: 50px;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #54C144;
    border-radius: 5px;
}

button.catalogy > .icon--xmark,
button.catalogy.opened > .icon--grid {
    display: none;
}

button.catalogy.opened {
    background-color: #ECAC28;
}

button.catalogy.opened .icon--xmark {
    display: inline;
}

.h-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-links > a {
    padding: 0 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #323232;
}

.h-search {
    position: relative;
}

.h-search button[type="submit"] {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    height: 100%;
    background-color: transparent;
}

.txt_search {
    padding: 10px 15px 10px 50px;
    width: 558px;
    height: 50px;
    border: 2px solid #54C144;
    border-radius: 5px;
}

/* ICONS */
.icon {
    display: inline-flex;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s;
}

.icon--phone {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/call-outline.svg");
}

.icon--velcom {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/A1.svg");
}

.icon--mts {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/mts.svg");
}

.icon--life {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/life.svg");
}

.icon--chevron {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/chevron-down.svg");
}

.icon--clock {
    width: 17px;
    height: 17px;
    background-image: url("../assets/icons/time-outline.svg");
}

.icon--basket {
    width: 25px;
    height: 28px;
    background-image: url("../assets/icons/basket.svg");
}

.icon--scales {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/scales.svg");
}

.icon--login {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/person-outline.svg");
}

.icon--magnifier {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/magnifier.svg");
}

.icon--grid {
    width: 27px;
    height: 27px;
    background-image: url("../assets/icons/grid.svg");
}

.icon--xmark {
    width: 27px;
    height: 27px;
    background-image: url("../assets/icons/xmark.svg");
}
